<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            <h2>Game</h2>
        </mat-panel-title>
        </mat-expansion-panel-header>
        <h3>Where do I play it?</h3>
        <p>Click on the Game button, you should be able to play it now.</p>
        <h3>What is the Goal?</h3>
        <p>Set the picture in the correct order as fast as possible and with the least amount of tries.</p>
        <h3>How do I move the move the pictures?</h3>
        <p>Left-click on the picture. If you did it correctly, it should look different. If you left-click on a second picture now, they switch places.</p>
        <h3>How do I win?</h3>
        <p>If you set every picture in the correct order, a message should appear beneath the puzzle that says "Solved", and the timer stops.</p>
        <h3>How do I get a Score?</h3>
        <p>You have to log in to get your score. We calculate your score via this formula: 100 – seconds to solve the Puzzle = score, and no, you can't get a negative score.</p>   
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            <h2>Navigate</h2>
        </mat-panel-title>
        </mat-expansion-panel-header>
        <h3>How does it work?</h3>
        <p>Click on the buttons to the left to get to the corresponding Site. Profile and Highscores are only available if you are logged in.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            <h2>Highscore</h2>
        </mat-panel-title>
        </mat-expansion-panel-header>
        <h3>What is a Highscore?</h3>
        <p>It is your highest Scores ever achived.</p>
        <h3>How do I get one?</h3>
        <p>You have to log in and play the game under the Game Tab, if you beat at least the 10th place, you get into the Highscore list.</p>
        <h3>How does the Scoresystem work?</h3>
        <p>We calculate your score via this formula: 100 – seconds to solve the Puzzle = score, and no, you can't get a negative score.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            <h2>Login</h2>
        </mat-panel-title>
        </mat-expansion-panel-header>
        <h3>How do I log in?</h3>
        <p>Click on the Login button and put in your Email and Password you used in the SignUp Tab. Never tell anyone your password!</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            <h2>SingUp</h2>
        </mat-panel-title>
        </mat-expansion-panel-header>
        <h3>How do I Sign up?</h3>
        <p>Click on the SignUp button and put in your personal Information. Never tell anyone your password!</p>
        <h3>My Email is already used?</h3>
        <p>It appears you already created an Account, try to log in via the Login Tab.</p>
        <h3>My passwords don't match?</h3>
        <p>We want to make sure that you didn't misclick while trying to type in your new password. To fix it, retype your password in both fields.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            <h2>Other</h2>
        </mat-panel-title>
        </mat-expansion-panel-header>
        <h3>Contact me:</h3>
        <p>If you find a bug or need help, you can write me an email: <span id="emailAdresshelp">if20b005@technikum-wien.at</span> Thank you :)</p>
    </mat-expansion-panel>
</mat-accordion>