<mat-card>
    <h4>Logged in as {{email}}</h4>

    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <p>Update the Highscore:</p>
    <form *ngIf="!isLoading" (ngSubmit)="addHighscore()">
        <mat-form-field appearance="fill">
            <mat-label>Points:</mat-label>
            <input matInput [formControl]="points" maxlength="100" pattern="^[0-9]*$" placeholder="500">
            <mat-error *ngIf="points.invalid">{{getPointsErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Username:</mat-label>
            <input matInput [formControl]="username" maxlength="100" pattern='^[A-Za-z0-9ÄäÖöÜüß]*$' placeholder="Max123">
            <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Submit</button>

    </form>
</mat-card>