<mat-drawer-container id="sideBarContainer">
    <mat-drawer mode="side" id="sidebar" opened>
        <img src="assets/logo.png">
        <br>
        <!--checkt ob man eingelog ist oder nicht, buttons werden entsprechend angezeigt-->
        <div *ngIf="isLogedIn; else elseBlock">
            <a mat-raised-button color="primary" type="button" class="toolbar-link" (click)="logOut()">Logout</a>
            <br>
            <a mat-raised-button color="primary" type="button" class="toolbar-link" routerLink="/profile">Profile</a>
        </div>
        <ng-template #elseBlock>
            <a mat-raised-button id="signUp" color="primary" type="button" class="toolbar-link" routerLink="/signup">SignUp</a>
            <br>
            <a mat-raised-button color="primary" type="button" class="toolbar-link" routerLink="/login">Login</a>
            <br>
        </ng-template>
        <a mat-raised-button color="primary" type="button" class="toolbar-link" routerLink="/highscore-list">Highscores</a>
        <br>
        <a mat-raised-button color="primary" type="button" class="toolbar-link" routerLink="">Puzzle</a>
        <br>
        <a mat-raised-button color="primary" type="button" class="toolbar-link buttonBottom" routerLink="/faq">FAQ</a>
        <br>
        <a mat-raised-button color="primary" type="button" class="toolbar-link buttonBottom" routerLink="/impressum">Impressum</a>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>