#puzzleGame {
    margin-top: 20px;
    font-size: 0px;
    text-align: center;
}

h2 {
    display: inline-block;
}

#score {
    text-align: right;
    float: right;
}

#newHighscore {
    text-align: center;
}