<h2>Choose which puzzle to solve</h2>
<div id="wrapper">
    <div id="puzzle1" class="puzzle">
        <img src="assets/pics/puzzle1_imgs/img1.jpg">
        <img src="assets/pics/puzzle1_imgs/img2.jpg">
        <img src="assets/pics/puzzle1_imgs/img3.jpg">
        <br>
        <img src="assets/pics/puzzle1_imgs/img4.jpg">
        <img src="assets/pics/puzzle1_imgs/img5.jpg">
        <img src="assets/pics/puzzle1_imgs/img6.jpg">
        <br>
        <img src="assets/pics/puzzle1_imgs/img7.jpg">
        <img src="assets/pics/puzzle1_imgs/img8.jpg">
        <img src="assets/pics/puzzle1_imgs/img9.jpg">
    </div>

    <div id="puzzle2" class="puzzle">
        <img src="assets/pics/puzzle2_imgs/img1.jpg">
        <img src="assets/pics/puzzle2_imgs/img2.jpg">
        <img src="assets/pics/puzzle2_imgs/img3.jpg">
        <br>
        <img src="assets/pics/puzzle2_imgs/img4.jpg">
        <img src="assets/pics/puzzle2_imgs/img5.jpg">
        <img src="assets/pics/puzzle2_imgs/img6.jpg">
        <br>
        <img src="assets/pics/puzzle2_imgs/img7.jpg">
        <img src="assets/pics/puzzle2_imgs/img8.jpg">
        <img src="assets/pics/puzzle2_imgs/img9.jpg">
    </div>
</div>