/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
    display: inline;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 0%;
}

.selected {
    border: 2px solid pink;
    opacity: 0.5;
}

.noJs {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}